.faqAccordion {
  background-color: #fff;
}

.accordionButton {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: hsl(188deg, 84%, 29%, 1);
  background-color: white;
  padding: 24px 20px;
  box-shadow: none;
  outline: none;
  display: flex;
  align-items: center;
  border-top: 1px solid hsl(216deg, 55%, 93%, 1);

  &::after {
    flex-shrink: 0;
    content: "+";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    font-size: 32px;
    font-weight: 400;
    color: hls(188deg, 84%, 29%, 1);
    border: 1px solid hsl(188deg, 84%, 29%, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.accordionPanel {
  padding: 0 20px 24px;
  color: hsl(194deg, 17%, 37%, 1);
  background-color: hsl(185deg, 55%, 96%, 1);
  font-weight: 500;
  line-height: 22px;

  p {
    margin: 0;
  }
}

.expandedButton {
  background-color: hsl(185deg, 55%, 96%, 1);

  &::after {
    content: "-";
    background-color: hsl(188deg, 84%, 29%, 1);
    color: white;
  }
}

.expandedPanel {
  opacity: 1;
}
