.expertiseCarousel {
  background-color: white;
  margin-bottom: 80px;
  padding-bottom: 10px;

  display: grid;
  grid-template-columns: repeat(5, minmax(138px, 210px));
  grid-column-gap: 20px;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 8px; /* height of horizontal scrollbar ← You're missing this */
    // width: 4px; /* width of vertical scrollbar */
    // border: 1px solid red;
    cursor: pointer !important;
  }

  &::-webkit-scrollbar-track {
    border-radius: 16px;
    background: #ddd;

    cursor: pointer !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: var(--color-green-4);

    cursor: pointer !important;
  }

  @media screen and (min-width: 992px) {
    grid-column-gap: 24px;
    padding-bottom: initial;
    overflow-x: initial;
  }

  @media screen and (min-width: 1024px) {
    grid-column-gap: 30px;
  }
}

.expertiseItem {
  position: relative;
  width: 100%;

  span {
    position: absolute;
    z-index: 3;
    top: 24px;
    left: 0;
    right: 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 18px;
      left: 16px;
      right: 16px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 22px;
    }
  }
}
