.carousel.carousel-slider {
  /* border-radius: 8px; */
}

.slider {
  /* transform: translateX(-320px) !important; */
}

.carousel .slide {
  /* min-width: 100% !important; */

  margin: 0 32px;
}

.slide {
  /* min-width: initial !important; */

  background-color: transparent !important;
  text-align: left !important;
  /* padding: 0 32px !important; */
}

.control-dots {
  position: static !important;
  margin-top: 40px !important;
}

.control-dots .dot {
  width: 12px !important;
  height: 8px !important;
  background-color: var(--color-green-4) !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  border-radius: 4px !important;
  transition: all 0.5s ease !important;
  opacity: 0.6 !important;
  margin: 0 12px !important;
}

.control-dots .dot.selected {
  opacity: 1 !important;
  width: 48px !important;
}

.carousel-status {
  display: none;
}

/* @media screen and (min-width: 576px) {
  .carousel .slide {
    min-width: initial !important;
  }
} */
