/* @font-face {
  font-family: "Futura New";
  src: local("Futura New Light Reg"), local("Futura-New-Light-Reg"),
    url("assets/fonts/FuturaNew/FuturaNewLight-Reg.woff2") format("woff2"),
    url("assets/fonts/FuturaNew/FuturaNewLight-Reg.woff") format("woff"),
    url("assets/fonts/FuturaNew/FuturaNewLight-Reg.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
} */
@font-face {
  font-family: "Futura New";
  src: local("Futura New Light Reg"), local("Futura-New-Light-Reg"),
    url("../assets/fonts/FuturaNew/FuturaNewLight-Reg.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Futura New";
  src: local("Futura New Demi Reg"), local("Futura-New-Demi-Reg"),
    url("../assets/fonts/FuturaNew/FuturaNewDemi-Reg.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Futura New";
  src: local("Futura New Heavy Reg"), local("Futura-New-Heavy-Reg"),
    url("../assets/fonts/FuturaNew/FuturaNewHeavy-Reg.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Reg"), local("Gilroy-Reg"),
    url("../assets/fonts/gilroy/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("../assets/fonts/gilroy/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("../assets/fonts/gilroy/Gilroy-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"),
    url("../assets/fonts/gilroy/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: "Futura New";
  font-size: 38px;
  font-weight: 700;
}

h2 {
  font-family: "Futura New";
  font-size: 32px;
  font-weight: 600;

  @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 48px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 52px;
    line-height: 54px;
  }
}

p {
  font-size: 14px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }
}
