.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
}

.menu {
  display: flex;
  align-items: center;
}

.hamburger {
  padding: 0;
  width: 44px;
  height: 44px;
  margin-left: 20px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
