.footer {
  padding: 50px 20px 32px;
  background-color: hsl(191deg, 25%, 10%, 1);
  color: white;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    padding-left: 64px;
    padding-right: 64px;
  }

  @media screen and (min-width: 1360px) {
    padding-top: 220px;
  }

  .contentContainer {
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 3fr 4fr;
      grid-column-gap: 64px;
    }
  }

  svg:first-child {
    flex-shrink: 0;
  }

  p {
    margin: 32px 0 40px;
    color: hsl(227deg, 5%, 62%, 1);
    font-size: 14px;
    line-height: 18px;
    text-align: left;

    @media screen and (min-width: 768px) {
      order: 1;
      font-size: 16px;
      line-height: 24px;
    }
  }

  a {
    color: white;
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--color-green-4);
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

.icons {
  display: flex;

  @media screen and (min-width: 768px) {
    order: 2;
  }

  a {
    transition: opacity 0.2s ease;
    margin-left: 20px;

    @media screen and (min-width: 768px) {
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.menu {
  width: auto;

  @media screen and (min-width: 768px) {
    margin-right: 80px;
  }

  @media screen and (min-width: 1024px) {
    margin-right: 140px;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  a {
    // font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
    margin-top: 24px;
    text-decoration: none;
    border-bottom: 1px solid white;

    // @media screen and (min-width: 768px) {
    //   font-size: 16px;
    // }

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

.contacts {
  span {
    line-height: 14px;
    font-weight: 500;
  }

  .email {
    margin-bottom: 48px;
  }

  .phone {
    div {
      display: flex;
      align-items: center;

      & + div {
        margin-top: 20px;
      }

      span {
        margin-left: 8px;
      }
    }
  }
}

p.copywright {
  margin: 0;
  text-align: center;
  color: hsl(195deg, 8%, 32%, 1);

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
